# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
docker-compose.override.yml

# Logs
logs
*.log

# Build outputs
dist/
build/

# IDE / Editors
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# MongoDB data directory
data/

# Python
/__pycache__/
team_chat/
.venv


# Temporary files
*.tmp
*.bak

# Process IDs
.pid